// Recipes

		.recipe--card {

				img {
					width: 100%;
					display: block;
				}

				h2 {
					font-size: $base-fs * 2;
					font-weight: $light-fw;
					text-align: center;
				}
		}

		.recipe--collection {

			.recipe--card {
				@include box-sizing;
			}
		}

