		.site-wrapper,
		.wrapper,
		.column,
		.box,
		.container,
		article,
		aside,
		section {
			@include box-sizing;
		}

// Wrappers

		.site-wrapper {
			max-width: 1800px;
			overflow: hidden;
			@include box-sizing;
		}

		.content-wrapper {

			background: rgba(255,255,255,1);
			padding: 40px;
			overflow: hidden;
			//height: 100vh;
			margin: 1.5%;
			@include box-sizing;

			@media only screen and (min-width: $bp1300px) {
				width: 69%;
				float: left;
			}
		}

		.branding-block {
			padding: 40px;
			float: left;
			width: 60%;

			@media only screen and (min-width: $bp1300px) {
				width: auto;
				float: none;
				padding: 0;
			}
		}

// Box

// Container

// Article

// Aside

// Section

// Columns

		.column {
			display: block;
			width: 100%;
			position: relative;

			@media only screen and (min-width: $bp768px) {

				width: 50%;
				float:left;
				transition: background-color 0.25s ease;
				cursor: pointer;


				&:hover {
					background: rgba(237,127,8,1);
				}
			}

			@media only screen and (min-width: $bp1024px) {

				width: 25%;
			}
		}

		.group:before,
		.group:after {
			content:"";
			display:table;
		}
		.group:after {
			clear:both;
		}
		.group {
			zoom:1; /* For IE 6/7 (trigger hasLayout) */
		}

