nav {

	margin-top: $base-m * 2;

	overflow: hidden;

	.wrapper { margin: 0 auto; max-width: 1024px; }

	ul {

		overflow: hidden;
		padding: 0;
		margin: 1.5%;
		display: inline-block;
		position: fixed;
		top: 0;
		right: -300px;
		z-index: 2;

		.close-btn {
			background: red;
			position: fixed;
			top: 0;
			left: 0;
		}

		@media only screen and (min-width: $bp768px) {
			position: relative;
			right: 40px;
			top: auto;
			float: right;
		}

		li {
			//text-align: center;
			list-style: none;

			a {
				color: white;
				display: block;
				text-decoration: none;
				font-family: $base-ff;
				font-weight: $bold-fw;
				padding: 10px 10px;
			}

			&:hover {
				background: rgba(255,255,255,1);
				transition: background-color 0.25s ease;

				a { color: black; }
			}
		}

		@media only screen and (min-width: $bp768px) {

			li {
				//float: left;
				margin: 0;
				border-bottom: 1px solid white;

				a {
					color: white;
					margin: 0 5px;
				}
			}

		}

		@media only screen and (min-width: $bp1300px) {

			background: none;
			float: none;
			width: auto;
			right: auto;

			li {
				float: none;
				//margin: 0 0 10px 0;
				background: none;

			}
		}
	}

	.menu-main {
		display: none;
		transition: all 0.5s ease;

		@media only screen and (min-width: $bp768px) {

			display: block;
		}
	}

	&.open .menu-main { display: block; opacity: 1; right: 0;}
	&.open .close { display: block; }
}

.close {
	position: fixed;
	top: 20px;
	left: 20px;
	padding: 10px;
	background: black;
	color: white;
	text-decoration: none;
	text-align: center;
	display: none;
}

.menu-icon {
		background: url(../img/menu-icon.png);
		height: 50px;
		width: 50px;
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;

		@media only screen and (min-width: $bp768px) { display: none; }
	}



.stick {

    @media only screen and (min-width: $bp768px) {
		position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 10;
	    width: 100%;
	    display: block;
	    background: #f8f8f8;
	    padding: 10px;
	    border-bottom: 1px solid #e5e5e5;
	    margin-bottom: 0;
	}

    .branding { margin-top: 12px; display: block; padding: 0; font-weight: $base-fw; text-align: left;  width: auto;}
}

