// Typography Styles

		h1, h2, h3, h4, h5, h6  {
			font-family: $header-ff;
			font-weight: $light-fw;
			line-height: $base-lh;
			color: $textcolor;
			margin: $base-m 0;
			text-transform: uppercase;
		}

		h1 {
			font-size: $base-fs * 4;
			font-weight: $base-fw;
			text-align: center;
			color: #737373;
		}

		h2 { font-size: $base-fs * 3;}

		h3 { font-size: $base-fs * 1.75; margin-bottom: $base-m / 2;  }

		p, ol, ul {
			font-family: $base-ff;
			font-size: $base-fs;
			line-height: $base-lh;
			margin: 0 0 $base-m;
		}

		p:first-child {
			margin-top: 0;
		}

		p + h2,
		p + h3 {
			margin-top: $base-m * 2;
		}

		ul {
			padding-left: $base-p;

			li { list-style: disc; }
		}

		ol {
			padding-left: $base-p;

			li { list-style: decimal; }
		}

		strong, b {
			font-weight: $bold-fw;
			font-style: normal;
		}

		em, i {
			font-style: italic;
		}

		a {
			cursor: pointer;
			font-weight: $bold-fw;
			text-decoration: underline;
			font-family: $base-ff;
		}

		a:visited {

		}

		a:hover {
			text-decoration: none;
		}

		a:active {

		}

		a:focus {
			outline: none;
		}

		a:hover, a:active {
			outline: 0;
		}

		img, object, embed {
			height: auto;
			max-width: 100%;
		}

		blockquote {
			color: $textcolor;
			font-size: $base-fs * 1.5;
			font-style: italic;
			border-left: 4px solid lighten($textcolor, 50%);
			padding: $base-p * 2;
			margin-left: -40px;
			font-weight: $bold-fw;
			line-height: $base-lh;
		}

		blockquote p:last-child {
			margin-bottom: 0;
		}

		hr {
			margin: $base-m * 2 0;
		}